<div class="jumbotron">
	<h1>Our Mission</h1>
<p>My mission is to use this site to master Rails.  After completing this bundle of courses, I will most likely complete the UX course with One Month.</p>
</div>